/* You can add global styles to this file, and also import other style files */
.fuerte {
    background: cyan;
    background-color: rgb(127, 172, 80);
    color: rgb(211, 16, 39);
    text-align: center;
    
  }